.container {
  width: 800px;
  margin: 0 auto;
}

.editbox {
  height: 300px;
  border: 1px solid black;
  outline: none;
}

.editable {
  outline: none;
  position: relative;
  margin-left: 50px;
}

.medium-editor-placeholder {
  /* margin-top: 0; */
}

.medium-editor-placeholder:after {
  margin-top: 0 !important;
  z-index: -1;
}

.medium-insert-menu {
  position: absolute;
  visibility: hidden;
}

.show {
  left: -40px;
  visibility: visible;
}

.inline-tooltip-menu {
  position: absolute;
  left: 40px;
  top: -0px;
  width: 400px;
  visibility: hidden;
}

.inline-tooltip-menu.open {
  visibility: visible;
}
